* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.grid {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
}

.grid-item {
    width: 20px;
    height: 20px;
    border: 1px solid #e24e3f
}

.clicked {
    background-color: #DE4738;
}

.clicked:hover {
    opacity: 50%;
}
