*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
}

div,
p {
  color: grey;
  font-family: 'Fredoka One', cursive;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

p, ul,li {
  color: black;
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Varela', sans-serif;
  padding-top: 3px;
}

ul, li{
    margin: 0;
}

.container {
  /* outline: 1px solid black; */
  border: 2px dashed black;
  /* width: 80vw; */
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 50px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.p20 {
  width: 20%;
  border-right: 1.5px solid black;
}

.p60 {
  padding-left: 1%;
  min-width:68%;
  max-width: 68%;
  width: auto;
}

.p50{
    margin-right:30px;
    width: auto;
}
