@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  background-color: rgb(238, 238, 238);
}

.container {
  max-width: 1000px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.navbar .navbar-nav i {
  font-size: 1.3rem;
  color: black;
  padding: 0 5px;
}

.navbar .search {
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar .search input {
  width: 200px;
}

.story {
  padding: 10px;
  display: block;
  margin-top: 100px;
  white-space: nowrap;
  overflow-x: auto;
}

.story::-webkit-scrollbar {
  display: none;
}

.story .story-img {
  width: 55px;
  height: 55px;
  border: 2px solid #c62f91;
  border-radius: 100%;
  display: inline-block;
  margin: 0 5px;
}

.story .story-img img {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.post {
  margin: 50px 0;
}

.post .card-header {
  display: flex;
  justify-content: space-between;
}

.post .buttons {
  cursor: pointer;
  margin: 10px 0;
}

.post .buttons i {
  font-size: 1.3em;
  margin: 10px;
}

.post .buttons i.liked {
  color: #ed4956;
}