*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.card {
    display: flex;
    margin: auto;
    padding: 10px;
    background-color: lightslategrey;
    border-radius: 5px;
}

.card>img {
    display: flex;
    margin: auto;
    width: auto;
    height: 300px;
}

.page{
    display: flex;
    margin: auto;
    height: 100vh;
}