* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.App {
    text-align: center;
}



.template {
    width: 33.333%;
    margin: 10px auto;
}

.image {
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    height: 280px;
    max-height: 280px;
    max-width: 280px;
    background-size: cover;
    background-position: center;
}

.meme {
    text-align: center;
    margin-top: 100px;
}

.meme input,
.meme button {
    padding: 10px;
    margin: 5px;
}

.meme img {
    width: auto;
    height: 500px;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .templates {
        flex-direction: column;
    }

    .template {
        width: 99%;
    }

    .meme img {
        height: 350px;
    }
}